body {
    overflow: hidden;
}

button {
    background-color: rgb(255, 41, 41);

    position: relative;
    left: 43%;

    font-family: Arial, Helvetica, sans-serifs;

    border: 0px;
    border-radius: 10px;

    cursor: pointer;
}

h1 {
    position: relative;
    left: 35%;

    font-size: 66px;
    font-family: Arial, Helvetica, sans-serif;
}

h1::selection {
    background-color: rgb(255, 41, 41);
    color: rgb(255, 140, 140);
}